.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-square {
    background-color: aliceblue;
    margin: 50px;
    padding: 10px;
}

.container-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hovered {
    background-color: black;
}

button {
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}

