.grid-square {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    flex: 1 1 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gameBox {
    height: 1000px;
    width: 1000px;
}

.flexGameBox {
    display: flex;
    justify-content: center;
}

.hovered {
    background-color: black;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

